[package]
name = "heron_debug"
version = "0.3.0"
authors = ["Jonathan Cornaz"]
edition = "2018"
license = "MIT"
description = "Rendering of Heron's collision shapes for debugging purposes"
repository = "https://github.com/jcornaz/heron/"

[features]
default = []
2d = ["bevy_prototype_lyon"]
3d = []

[dependencies]
heron_core = { path = "../core", version = "^0.3.0"}
heron_rapier = { path = "../rapier", version = "^0.3.0"}
bevy = { version = "^0.5.0", default-features = false, features = ["render"] }
bevy_prototype_lyon = { version = "0.2.0", optional = true }
fnv = "^1.0"
