[package]
name = "heron_debug"
version = "0.1.1"
authors = ["Jonathan Cornaz"]
edition = "2018"
license = "MIT"
description = "Rendering of Heron's collision shapes for debugging purposes"
repository = "https://github.com/jcornaz/heron/"

[features]
default = []
2d = ["bevy_prototype_lyon"]
3d = []

[dependencies]
heron_core = { path = "../core", version = "^0.1.1"}
bevy_math = "^0.4.0"
bevy_ecs = "^0.4.0"
bevy_app = "^0.4.0"
bevy_transform = "^0.4.0"
bevy_render = "^0.4.0"
bevy_sprite = "^0.4.0"
bevy_asset = "^0.4.0"
bevy_prototype_lyon = { version = "0.2.0", optional = true }
fnv = "^1.0"
