[package]
name = "heron_core"
version = "2.2.0"
rust-version = "1.57"
edition = "2021"
authors = ["Jonathan Cornaz"]
license = "MIT"
description = "Core components and resources to use Heron"
repository = "https://github.com/jcornaz/heron/"

[package.metadata.docs.rs]
all-features = true

[features]
default = []
3d = []
collision-from-mesh = ["bevy/render"]

[dependencies]
bevy = { version = "0.6.0", default-features = false }
duplicate = "0.4.0"
smallvec = "1.8"

[dev-dependencies]
rstest = "0.12"
bevy = { version = "0.6.0", default-features = false, features = ["render"] }

[build-dependencies]
cfg_aliases = "0.1.1"
