[package]
name = "heron_macros"
version = "2.2.0"
rust-version = "1.57"
edition = "2021"
authors = ["Jonathan Cornaz"]
license = "MIT"
description = "proc-macros for heron"
repository = "https://github.com/jcornaz/heron/"

[lib]
proc-macro = true

[dependencies]
syn = "1.0"
quote = "1.0"
