name: Build

on:
  push:
    branches:
      - main
      - next-major

  pull_request:
    branches:
      - '*'

jobs:
  test:
    timeout-minutes: 20

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        rust:
          - stable
          - nightly

    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "-D warnings"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Global cache
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.cargo
            ~/.rustup
          key: cargo-${{ matrix.os }}-${{ matrix.rust }}-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: cargo-${{ matrix.os }}-${{ matrix.rust }}

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Install linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libudev-dev libasound2-dev

      - name: Format check
        if: matrix.os == 'ubuntu-latest' && matrix.rust == 'stable'
        run: cargo fmt --all -- --check

      - name: Static analysis
        if: matrix.os == 'ubuntu-latest' && matrix.rust == 'stable'
        run: cargo clippy -- -Dwarnings

      - name: Run tests with default features
        run: cargo test --workspace

  test-features:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      RUSTFLAGS: "-D warnings"

    strategy:
      matrix:
        feature-set:
          - "2d"
          - "3d"
          - "2d, debug"
          - "3d, debug"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Global cache
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.cargo
            ~/.rustup
          key: cargo-ubuntu-latest-stable-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: cargo-ubuntu-latest-stable

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libudev-dev libasound2-dev

      - name: Run tests
        run: cargo test --workspace --no-default-features --features "${{ matrix.feature-set }}"

  ignored-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      RUSTFLAGS: "-D warnings"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Global cache
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.cargo
            ~/.rustup
          key: cargo-ubuntu-latest-stable-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: cargo-ubuntu-latest-stable

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libudev-dev libasound2-dev

      - name: Run ignored tests
        run: cargo test --workspace --features "debug" -- --ignored

  doc:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      RUSTFLAGS: "-D warnings"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Global cache
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.cargo
            ~/.rustup
          key: cargo-ubuntu-latest-stable-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: cargo-ubuntu-latest-stable

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libudev-dev libasound2-dev

      - name: Run ignored tests
        run: cargo doc --workspace
